body {
    margin: 0;
    padding: 0;
    background-color: #001C30;
}

#intro > .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 400px;
    background-color: #176B87;
}

h1 {
    font-family: 'Gloock', serif;
    color: #001C30;
}

p {
    font-family: 'Rubik', sans-serif;
    color: #001C30;
}

.text-card {
    background-color: #dafffb;
    padding: 20px;
    border: 10px solid #001C30;
    border-radius: 10px;
}

.portrait {
    height: 250px;
    border: 10px solid #001C30;
    border-radius: 10px;
}

.portrait > img {
    height: 250px;
}

#intro > .top-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #001C30, #176B87);
    border-top: 10px solid #001C30;
}

#intro > .bottom-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, #001C30, #176B87);
    border-bottom: 10px solid #001C30;
}

#features > .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 400px;
    background-color: #64CCC5;
}

#features > .top-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #001C30, #64CCC5);
    border-top: 10px solid #001C30;
}

#features > .bottom-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, #001C30, #64CCC5);
    border-bottom: 10px solid #001C30;
}

h2 {
    color: #001C30;
    font-family: 'Rubik', sans-serif;
}

.feature-card {
    /*height: 200px;
    width: 170px;*/
    text-align: center;
}

.feature-image {
    height: 100px;
    width: 150px;
    border: 10px solid #001C30;
    border-radius: 10px;
    background-color: whitesmoke;
}

.feature-image > img {
    height: 100px;
}

.feature-label {
    height: 70px;
    width: 150px;
    background-color: #dafffb;
    border: 10px solid #001C30;
    border-radius: 50%;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid #001C30;
}

.main-footer {
    background-color: #001C30;
    display: flex;
    justify-content: space-between;
}

.main-footer p {
    margin: 0;
    padding: 1rem;
    color: #dafffb;
}

.main-footer a:link, a:visited, a:hover, a:active {
    color: #dafffb;
    text-decoration: none;
}

@media (max-width: 750px) {
    .flex-container {
        flex-direction: column;
    }

    #intro > .flex-container {
        height: 100vw;
        gap: 50px;
    }

    #features > .flex-container {
        height: 200vw;
        gap: 6vw;
    }

    .portrait {
        order: -1;
    }

    .text-card {
        width: 75vw;
    }

    .text-card h1 {
        font-size: 6vw;
        margin: .5rem;
    }

    .text-card p {
        font-size: 3vw;
        margin: .5rem;
    }

    .portrait, .portrait img {
        height: 60vw;
    }

    .feature-image {
        height: 30vw;
        width: 45vw;

    }

    .feature-image img {
        height: 30vw;
    }

    .feature-label {
        width: 45vw;
        height: 21vw;
        font-size: 4.8vw;
    }

    .main-footer p {
        font-size: 3vw;
    }
}