.resume-main {
    color: #001C30;
    background-color: #dafffb;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: #001C30;
    text-decoration: underline;
}

.resume-portrait {
    /*float: right;*/
    height: 200px;
}

h1 {
    margin: 0;
}

.resume-intro {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 900px;
    height: 200px;
    padding-bottom: 10px;
}

footer {
    background-color: #dafffb;
}

footer > p {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;
}

.top-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #001C30, #dafffb);
    border-top: 10px solid #001C30;
}

.bottom-gradient {
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, #001C30, #dafffb);
    border-bottom: 10px solid #001C30;
}

.aplus-logo {
    height: 150px;
}

.return {
    display: inline-block;
    border: 5px solid #001C30;
    background-color: #001C30;
    border-radius: 10px;
    padding: 3px;
    font-size: 1.5rem;
    width: 100px;
}

.return a:link, a:visited, a:hover, a:active {
    color: #dafffb;
    text-decoration: none;
}

.contact {
    display: inline-block;
    border: 5px solid #001C30;
    background-color: #001C30;
    border-radius: 10px;
    padding: 3px;
    font-size: 1.5rem;
    width: 130px;
}

.contact a:link, a:visited, a:hover, a:active {
    color: #dafffb;
    text-decoration: none;
}